<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JXB.DBModels.Properties.Settings.JXBConnectionString"
            connectionString="Data Source=(Local);Initial Catalog=JXB_DB;User ID=sa;pwd=abc123!@#;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>