@{
    ViewBag.Title = "Admin";
}
<div class="sysme">
    <div class="sysme-title">系统通知</div>
    用户你好！<br />
    <p class="sysme-p">全新ASP.NET MVC框架，搭载最流行的前段UI技术，最轻松地JQ插件.NET MVC5+Bootstrap3.0+jquery-1.10.2+layer2.2+jquery.validate1.11+Poshy Tip1.0+jquery.form-3.51.0测试版即将发布！！</p>
</div>
<div class="wnl" >
    <iframe style="width: 1000px; height: 450px; overflow:hidden;" src="~/Content/Assembly/jQwnl/wnl.html"></iframe>
</div>
