@{
    ViewBag.Title = "MenuMain";
}
<div class="nav-bar">
    <div class="nav-link">
        <ul>
            <li class=" icon-home icon-2x  nav-home"></li>
            <li class="nav-li"><a href="/SysBase/Admin">首页</a></li>
            <li class="icon-angle-right icon-2x nav-angle"></li>
            <li class="nav-li"><a href="javascript:void(0)">菜单管理</a></li>
        </ul>
    </div>
</div>
<div id="mainform">
    <div id="mainleft">
        <iframe frameborder="0" src="/SystemSet/Menu/MenuLeft" id="main_left" name="main_left"></iframe>
    </div>
    <div id="mainright">
        <iframe frameborder="0" src="/SystemSet/Menu/MenuRight" id="main_right" name="main_right"></iframe>
    </div>
</div>